[package]
name = "sbr-util"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
hashbrown = { version = "0.15", default-features = false }
